# dependencies
**/node_modules

# build output
**/dist

# environment variables
**/.env

# server runtime files
server/uploads
server/outputs

# cypress artifacts
web/cypress/videos
web/cypress/screenshots
